@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --sttb-red-primary: #c1121f;
  --sttb-blue-dark: #0b1f3b;
  --sttb-blue-bright: #2e90ff;
  --sttb-blue-light-bg: #eef6ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
